body {
    background-color: lightblue;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.quotes {
    margin: 0 40px 0 40px;
    max-width: 600px;
}

.quote-text {
    font-style: italic;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.quote-author {
    text-align: right;
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
}
